{% extends 'base.html' %}

{% block content %}
    <div class="w3-container">
        <h1>{{ author.last_name }}, {{ author.first_name }}</h1>
        <p>{% if author.date_of_birth %}{{ author.date_of_birth }}{% endif %} - {% if author.date_of_birth %}{{ author.date_of_birth }}{% endif %}</p>
    </div>

    <div class="w3-container w3-margin">
        <h4>Books</h4>
        {% for book in author.book_set.all %}
            <ul class="w3-ul">
                <li><a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a></li>
                <li>ISBN: {{ book.isbn }}</li>
                <li>Genre: {{ book.genre.all|join:"," }}</li>
            </ul>
        {% endfor %}
    </div>

{% endblock content %}