{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-khaki">
    <h1>Author List</h1>
</div>
<hr>
<div class="w3-container w3-cell-row">
    <h4 class="w3-cell">List of authors</h4>
    <a class="w3-button w3-cell w3-right w3-green" href="{% url 'author_create' %}">Add</a>
</div>

{% if author_list %}
    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lived</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for author in author_list %}
            <tr>
                <td><a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a></td>
                <td><a href="{{ author.get_absolute_url }}">{% if author.date_of_birth %}{{ author.date_of_birth }}{% endif %} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}</a></td>
                <td><a class="w3-button" href="{% url 'author_update' author.pk %}"><i class="fa fa-edit w3-text-green"></i></a></td>
                <td><a class="w3-button" href="{% url 'author_delete' author.pk %}"><i class="fa fa-remove w3-text-red"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>There are no authors in the library.</p>
{% endif %}
{% endblock content %}