{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-teal">
    <h1>Book List</h1>
</div>
<hr>
<div class="w3-container w3-cell-row">
    <h4 class="w3-cell">List of books</h4>
    <a class="w3-button w3-cell w3-right w3-green" href="{% url 'book_create' %}">Add</a>
</div>

{% if book_list %}
    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr class="w3-dark-grey">
                <th>Title</th>
                <th>Author</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for book in book_list %}
            <tr>
                <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
                <td><a href="{{ book.get_absolute_url }}">{{ book.author }}</a></td>
                <td><a class="w3-button" href="{% url 'book_update' book.pk %}"><i class="fa fa-edit w3-text-green w3-large"></i></a></td>
                <td><a class="w3-button" href="{% url 'book_delete' book.pk %}"><i class="fa fa-remove w3-text-red w3-large"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="w3-container">
        <p>There are no books in the library.</p>
    </div>
{% endif %}

{% endblock content %}