{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-teal">
    <h1>Borrowed Books</h1>
</div>
<hr>
<div class="w3-container">
    <h4>List of books</h4>
</div>

{% if bookinstance_list %}
    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Due Back</th>
                <th>Borrower</th>
            </tr>
        </thead>
        {% for book in bookinstance_list %}
            <tr class="{% if book.is_overdue %}w3-text-red{% endif %}">
                <td><a href="{% url 'book_detail' book.book.pk %}">{{ book.book.title }}</a></td>
                <td><a href="{% url 'book_detail' book.book.pk %}">{{ book.book.author }}</a></td>
                <td><a href="{% url 'book_detail' book.book.pk %}">{{ book.due_back }}</a></td>
                <td><a href="{% url 'book_detail' book.book.pk %}">{{ book.borrower }}</a></td>
                {% if perms.catalog.can_mark_returned %}
                    <!-- We can mark a BookInstance as returned. -->
                    <!-- Perhaps add code to link to a "book return" view here. -->
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>There are no books borrowed.</p>
{% endif %}

{% endblock content %}