{% extends 'base.html' %}

{% block content %}

<div class="w3-container w3-teal">
    <h1>Borrowed Books</h1>
</div>
<hr>
<div class="w3-container">
    <h4>List of books.</h4>
</div>

{% if bookinstance_list %}
    <ul class="w3-ul w3-border">
        {% for bookinst in bookinstance_list %}
            <li class="{% if bookinst.is_overdue %}w3-text-red{% endif %}">
                <a href="{% url 'book_detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a> ({{ bookinst.book.author }}) [{{ bookinst.due_back }}] - {{ bookinst.borrower }}
            </li>
            <li>
                {% if perms.catalog.can_mark_returned %}
                    <!-- We can mark a BookInstance as returned. -->
                    <!-- Perhaps add code to link to a "book return" view here. -->
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no books borrowed.</p>
{% endif %}

{% endblock content %}