{% extends 'base.html' %}

{% block content %}
    <div class="w3-container w3-khaki">
        <div class="w3-row">
            <div class="w3-half">
                <h1 class="w3-cell">{{ author.last_name }}, {{ author.first_name }}</h1>
            </div>
            <div class="w3-half">
                {% if perms.catalog.change_author %}<a class="w3-button w3-green w3-margin" href="{% url 'author_update' author.pk %}">Update</a>{% endif %}
                {% if perms.catalog.delete_author %}<a class="w3-button w3-red w3-margin" href="{% url 'author_delete' author.pk %}">Delete</a>{% endif %}
            </div>
        </div>
        <div>
            <p>{% if author.date_of_birth %}{{ author.date_of_birth }}{% endif %} - {% if author.date_of_death %}{{ author.date_of_death }}{% endif %}</p>
        </div>
    </div>

    <div class="w3-container w3-margin">
        <h4>Books</h4>
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                {% for book in author.book_set.all %}
                    <tr>
                        <td><a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a></td>
                        <td><a href="{% url 'book_detail' book.pk %}">{{ book.isbn }}</a></td>
                        <td><a href="{% url 'book_detail' book.pk %}">{{ book.genre.all|join:"," }}</a></td>
                    </tr>
                {% endfor %}
            </table>
    </div>

{% endblock content %}