<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Trebuchet MS", Verdana, sans-serif;
        }
        td a { 
            display: block;
            text-decoration: none;
        }
        .errorlist {
            list-style-type: none;
        }
    </style>

    {% block  title %} <title>Local Library</title> {% endblock title %}
</head>

<body class="w3-light-grey">

    <div class="w3-container">
        <nav class="w3-bar w3-black w3-hide-small">
            {% block navbar %}
                <a class="w3-bar-item w3-button" href="{% url 'catalog' %}">Home</a>
                <a class="w3-bar-item w3-button" href="{% url 'books' %}">All books</a>
                {% if perms.catalog.can_mark_returned %}
                    <a class="w3-bar-item w3-button" href="{% url 'all_books' %}">Loaned books</a>
                {% endif %}
                <a class="w3-bar-item w3-button" href="{% url 'authors' %}">All authors</a>
                {% if user.is_staff %}
                    <a class="w3-bar-item w3-button" href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a class="w3-bar-item w3-display-topmiddle w3-hide-medium">Welcome {{ user.get_username }}!</a>
                    <a class="w3-bar-item w3-button w3-right" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
                    <a class="w3-bar-item w3-button w3-right" href="{% url 'my_books' %}">My books</a>
                {% else %}
                    <a class="w3-bar-item w3-button w3-right" href="{% url 'login' %}?next={{request.path}}">Login</a>
                {% endif %}
            {% endblock navbar %}
        </nav>

        <main>
            {% if messages %}
                {% for message in messages %}
                    <div class="w3-panel {% if message.tags == 'info' %}w3-blue
                    {% elif message.tags == 'success' %}w3-green
                    {% elif message.tags == 'warning' %}w3-yellow
                    {% else %}w3-red{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
    
            {% block content %}
            {% endblock content %}

            <hr>

            <div class="w3-container">
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="w3-bar">
                            {% if page_obj.has_previous %}
                                <a class="w3-button" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&#10094; Previous</a>
                            {% endif %}
                            <a class="w3-center">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            </a>
                            {% if page_obj.has_next %}
                                <a class="w3-button" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next &#10095;</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endblock pagination %}
            </div>
        </main>
    </div>

</body>
</html>