{% extends 'base.html' %}

{% block content %}

    <div class="w3-container w3-blue">
        <h1>Local Library Home</h1>
    </div>
    <div class="w3-container">
        <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
    </div>

    <div class="w3-container">
        <h2>Statistics</h2>
    </div>
    <div class="w3-container">
        <p>The library has the following record counts:</p>
    </div>
    <ul class="w3-ul">
        <li><strong>Books:</strong> {{ number_of_books }}</li>
        <li><strong>Copies:</strong> {{ number_of_instances }}</li>
        <li><strong>Copies available:</strong> {{ number_of_available_instances }}</li>
        <li><strong>Authors:</strong> {{ number_of_authors }}</li>
    </ul>
    <hr>
    <div class="w3-container w3-grey w3-padding-16">
        <p>Number of visits: {{ number_of_visits }}</p>
    </div>

{% endblock content %}